@import url("reset.css");
@import url("typography.css");

body {
	margin-top: 20px;
	/* background: url("grid2.png"); */
}

h1.title {
	margin-left: 220px;
	font-weight: bold;
	padding-bottom: 20px;
}

h2 {
}

h3 a, h3 a:hover {
	color: #333;
	font-weight: bold;
}

ul {
	padding-left: 0;
}

#TOC {
	width: 200px;
	float: left;
}

#TOC ul {
	font-size: 14px;
	padding-left: 20px;
}

#TOC li {
	list-style: none;
}

.figure .caption {
	text-align: center;
	font-size: 13px;
	color: #555;
	padding: 5px;
}

#content {
	width: 600px;
	float: left;
	padding-left: 20px;
}

.footnotes {
	font-size: 14px;
	clear: left;
	width: 600px;
	float: left;
	margin-left: 220px;
	padding-left: 0px;
	padding-top: 20px;
	border-top: 1px solid #222;
	margin-bottom: -1px;
}

.footnotes hr {
	display: none;
}

#header .author {
	display: none;
}

#header .date {
	display: none;
	margin-left: 220px;
}
