body {
  font-size: 16px;
  line-height: 20px;
  color: #222;
  background: #fff;
  font-family: Calibri, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 40px; line-height: 60px; }
h2 { font-size: 20px; line-height: 24px; padding-top: 8px; margin-bottom: 8px}
h3 { font-size: 16px; line-height: 20px; }

p           { margin: 0 0 20px; }

a:focus,
a:hover     { color: #d00; }
a           { color: #b00; text-decoration: none;}

blockquote  { margin: 20px; color: #666; font-style: italic; }
strong,dfn  { font-weight: bold; }
em,dfn      { font-style: italic; }
sup         { line-height: 0; font-size: 12px; vertical-align: super; }

pre { 
  margin: 20px 0; white-space: pre; 
  background: #f8f8f8;
  padding: 10px;
  border-radius: 10px;
}
pre,code,tt { font: 14px 'lucida console', 'dejavu sans mono', monospace; }

li ul,
li ol  { margin: 0; }
ul, ol { margin: 0 20px 20px 0; padding-left: 20px; }

ul     { list-style-type: disc; }
ol     { list-style-type: decimal; }

dl     { margin: 0 0 20px 0; }
dl dt  { font-weight: bold; }
dd     { margin-left: 20px;}


